body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    width: 50%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

/* wystylizuj div o klasie lightbox tak aby był responsywny zajmował 100% ekranu i miał lekko przezroczyste czarne tło */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* zdjecie w divie o klasie lightbox ma zajmować automatyczną szerokość i wysokość ma mieć 80% */
.lightbox img {
    width: auto;
    height: 80%;
}

/* utwórz keyframes o nazwie fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* dodaj animacje do diva o klasie lightbox */
.lightbox {
    animation: fadeIn 400ms ease-in-out;
}

/* umieść przycisk zamykający w prawym górnym rogu */
.lightbox .lightbox__close {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 10px 15px;
    color: #fff;
    background-color: #000;
    font-size: 30px;
    cursor: pointer;
}

/* wystylizuj ładnie atrybut alt w klasie title-photo */
.title-photo {
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}